body{
   font-family: sans-serif;
   font-size: 16px;
}
.top {
  overflow:hidden;
  position:fixed;
  position:relative;
  width: 100%;
  margin-top:0px;
  margin-left: 0px;
  margin-right: 0px;
  height: 50px;
  background:#3C8DBC;
}

.content{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
  margin-bottom: 100px;
}
.article{
  padding-top: 10px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom: 10px;  
}
.article_r{
  flex: 1; 
  margin-top:50px;
  margin-left:40px;
  margin-right:40px;
  margin-bottom: 100px;  
}
.center {
    margin: auto;
    width: 80%;
    padding: 10px;
}
.footer {
	position:fixed;
	text-align: center;
  font-size: 12px;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	height: 20px;
	padding-top: 5px;
}

.displayImg {
  width:200px;
  border:solid 1px #dedede;
  padding:0px;
  margin:0px;
}

#displayImg {
  color:#cc0000;
  font-size:12px
}
.btn_edit{
  color:red;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid #73AD21;
  padding: 5px;
  width: 40px;
  height:40px; 
}
hr{
  border-top: 1px solid red;
}